.containerArtesanias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary);
    box-sizing: border-box;
    overflow: hidden;
}

.containerArtesanias .section-title {
    color: var(--primary);
}

.containerArtesanias .button-wrapper .button {
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--primary-soft);
    font-size: var(--fontsize-sm);
    box-shadow: none;
}

.containerArtesanias .button-wrapper .button:hover {
    background-color: var(--secondary);
    color: var(--primary-soft);
    border: 2px solid var(--primary-soft);
}

/* ============================================================================================= */
/* MODAL */
.modalArtesania {
    display: none;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 49, 49, .9);
    overflow-y: auto;
    animation: fadeIn 0.4s ease-in-out;
}

.modalArtesania.active {
    display: flex;
}