.containerComoLlegar {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    color: var(--primary-dark);
    max-width: 700px;
    margin: 0 auto;
}

.containerComoLlegar .title {
    text-align: center;
    font-size: var(--fontsize-xl);
    font-weight: bold;
    padding: 1.25rem 1rem 0.75rem;
    letter-spacing: -0.015em;

}

.containerComoLlegar .subtitle {
    text-align: center;
    font-size: var(--fontsize-md);
    font-weight: normal;
    padding: 0.25rem 1rem 0.75rem;
    color: #0d141c;
}

.containerComoLlegar .info-block {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 10px 0;
    padding: 1rem 1.5rem;
    background-color: var(--light-soft);
    border-radius: 100px;
    min-height: 72px;
    flex-wrap: wrap;
}

.containerComoLlegar .icon-box {
    background-color: var(--primary-soft);
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    flex-shrink: 0;
}

.containerComoLlegar .info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
}

.containerComoLlegar .info-text p:first-child {
    font-weight: 500;
    font-size: var(--fontsize-sm);
    color: var(--primary-dark);
    margin: 0;
}

.containerComoLlegar .info-text p:last-child {
    font-size: var(--fontsize-md);
    color: var(--primary);
    margin: 0.25rem 0 0;
}

@media (max-width: 900px) {
    .containerComoLlegar {
        max-width: 700px;
        margin: 0 auto;
    }

    .containerComoLlegar .info-block {
        margin: 15px;
        padding: 1rem 1.5rem;
    }
}

/* Responsive Styles */
@media (max-width: 600px) {
    .containerComoLlegar .title {
        font-size: var(--fontsize-lg);
        padding: 0 15px;
    }

    .containerComoLlegar .subtitle {
        font-size: var(--fontsize-sm) !important;
        font-size: 0.95rem;
    }

    .containerComoLlegar .info-block {
        flex-direction: row;
        align-items: flex-start;
    }

    .containerComoLlegar .info-text p:first-child {
        font-size: 0.8rem;
    }

    .containerComoLlegar .info-text p:last-child {
        font-size: var(--fontsize-sm);
    }
}