/* ============================================================================================= */
/* HEADER */
header {
    max-width: 100vw;
    position: relative;
    overflow: hidden;
}

/* ============================================================================================= */
/* NAVBAR */
.navbar {
    box-shadow: 0 2px 20px 2px var(--primary);
    transition: background-color 0.5s ease;
}

#navFixed {
    background-color: var(--secondary) !important;
}

.navbar-brand {
    font-size: var(--fontsize-medium);
    color: var(--primary) !important;
}

.navbar-brand small {
    font-size: var(--fontsize-medium);
    color: var(--primary);
    font-weight: bold;
}

.nav-link {
    color: var(--primary) !important;
}

.nav-link:hover {
    border-bottom: 2px solid var(--primary);
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

i.toggler-icons {
    color: var(--primary);
    font-size: var(--fontsize-big);
}

.navbar-toggler:active,
.navbar-toggler:focus {
    border: none;
    outline: none;
    background-color: transparent;
}

.current {
    border-bottom: 2px solid var(--primary);
}

/* ==================== NAVBAR RESPONSIVE ==================== */
@media screen and (max-width: 992px) {
    .navbar-brand {
        display: block;
    }

    .nav-link:hover {
        border-bottom: none;
        background-color: transparent;
    }

    .nav-item {
        text-align: center;
    }

    .current {
        border: none;
        background-color: var(--primary) !important;
        color: var(--secondary) !important;
    }
}

@media screen and (max-width: 768px) {
    .navbar-nav {
        padding: 10px 0;
    }

    .nav-item {
        margin-bottom: 10px;
    }
}

/* ============================================================================================= */
/* WELCOME SECTION */
.containerWelcome {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
    max-width: 100vw;
    width: 100%;
}

/* ==================== HERO ==================== */
.containerWelcome .hero {
    width: 100%;
    min-height: 400px;
    background: linear-gradient(rgba(0, 0, 0, .1),rgba(0, 0, 0, .4)), url("../images/welcome/buenavista.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 5rem 1rem;
    color: var(--light);
}

/* ==================== TEXT BLOCK ==================== */
.containerWelcome .text-block {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

/* TiTLE */
.containerWelcome .title {
    font-size: var(--fontsize-xxl);
    font-weight: 900;
    line-height: 1.6;
    /* letter-spacing: -0.033em; */
    text-shadow: 0 0px 4px rgb(0, 0, 0) !important;
}

/* SUBTITLE */
.containerWelcome .subtitle {
    font-size: var(--fontsize-lg);
    max-width: 1000px;
    font-weight: 400;
    line-height: 1.6;
    text-shadow: 0 0px 4px rgb(0, 0, 0) !important;
}

@media (max-width: 480px) {

    .containerWelcome .hero {
        padding: 5rem 15px 2rem 15px;
        background-color: red;

    }

    .containerWelcome .title {
        font-size: var(--fontsize-xl);
    }

    .containerWelcome .subtitle {
        font-size: var(--fontsize-md);
    }
}