.containerRestaurantes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary);
    box-sizing: border-box;
    overflow: hidden;
}

.containerRestaurantes .section-title {
    color: var(--primary);
}

.containerRestaurantes .button-wrapper .button {
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--primary-soft);
    font-size: var(--fontsize-sm);
    box-shadow: none;
}

.containerRestaurantes .button-wrapper .button:hover {
    background-color: var(--secondary);
    color: var(--primary-soft);
    border: 2px solid var(--primary-soft);
}

/* ============================================================================================= */
/* MODAL */
.modalRestaurante {
    display: none;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 49, 49, .9);
    overflow-y: auto;
    animation: fadeIn 0.4s ease-in-out;
}

.modalRestaurante.active {
    display: flex;
}

/* ============================================================================================= */
/* STARS */
#modalRestaurante-stars {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 15px;
}

#modalRestaurante-stars i {
    margin-right: 5px;
    color: #f1c40f;
}

.star-full {
    width: 20px;
    height: 20px;
    background: url('full-star.png') no-repeat center center;
    background-size: contain;
}

.star-half {
    width: 20px;
    height: 20px;
    background: url('half-star.png') no-repeat center center;
    background-size: contain;
}

.star-empty {
    width: 20px;
    height: 20px;
    background: url('empty-star.png') no-repeat center center;
    background-size: contain;
}

.star-value {
    color: var(--primary-dark);
}

/* ============================================================================================= */
/* BUSINESS HOURS  */
.modal__businesshours {
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin: 20px 0;
    background-color: var(--light-soft);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(36, 49, 49, 0.1);
}

.modal__businesshours h3 {
    font-size: var(--fontsize-medium);
    color: var(--primary);
    margin-bottom: 15px;
    font-weight: 600;
}

.modal__businesshours ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.modal__businesshours li {
    font-size: var(--fontsize-medium);
    color: var(--primary);
    padding: 8px 0;
    border-bottom: 1px solid var(--primary-dark);
    transition: background-color 0.3s ease;
}

.modal__businesshours li:last-child {
    border-bottom: none;
}

.modal__businesshours li:hover {
    background-color: var(--secondary-dark);
}

.modal__businesshours li strong {
    color: #333;
    font-weight: 600;
}